/* THIS IS WHERE YOU PUT STYLING THAT APPLIES TO BOTH MOBILE AND DESKTOP:; */

body {
	color: white;
	background-image: url('stardust.png');
	font-family: 'Muli', sans-serif;
}

h1 {
	font-family: 'craftopia_starsregular';
	text-align: center;
	font-size: 3.8em;
	margin-bottom: 0;
	font-weight: normal;
}

h2 {
	margin-top: 0;
	font-family: Pacifico;
	text-align: center;
	font-weight: normal;
}

h3 {
	font-family: Trocchi;
	text-align: center;
}

h4 {
	font-family: Sniglet;
	text-align: center;
}

h5 {
	font-family: Sigmar One;
	text-align: center;
}

#equals {
	font-family: helvetica, sans-serif;
	font-weight: normal;
}

.nav_button {
	display: inline-block;
	width: 10%;
	height: 100%;
}

form {

}

input {
	margin-bottom: 10px;
	box-shadow: 5px 5px 20px black;
	color: black;
}

#submit {
	margin-top: 15px;
	background: #242424;
	padding: 12px;
	color: white;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #ffa07a;
}

@media (max-width: 45em) {
    /* MOBILE AND TABLET STYLING GOES HERE */
	  #contents {
			width: 95%;
			text-align: center;
			margin: 0 5%;
		}
}

@media (max-width: 420px) {
	/* SMALLER H1 SIZE FOR SMALLER MOBILE SCREENS */
		h1 {
			font-size: 2.9em;
		}

		h2 {
			font-size: 1.2em;
		}
}

@media (max-width: 300px) {
	/* EVEN SMALLER H1 SIZE FOR EVEN SMALLER MOBILE SCREENS */
		h1 {
			font-size: 2.2em;
		}

		h2 {
			font-size: 1em;
		}
}

@media (min-width: 45em) {
    /* DESKTOP STYLING GOES HERE */

    #contents {
			width: 78%;
			text-align: center;
			margin: auto;
		}

		.nav_button img {
			position: fixed;
			top: 40%;
			height: 100px;
		}

		#contents_wrapper {
			margin: auto;
		}
}
