/* THIS IS WHERE YOU PUT STYLING THAT APPLIES TO BOTH MOBILE AND DESKTOP:; */

body {
	color: white;
	background-image: url('stardust.png');
	font-family: 'Muli', sans-serif;
}

h1 {
	font-family: 'craftopia_starsregular';
	text-align: center;
	font-size: 3.8em;
	margin-bottom: 0;
	font-weight: normal;
}

h2 {
	margin-top: 0;
	font-family: Pacifico;
	text-align: center;
	font-weight: normal;
}

h3 {
	font-family: Trocchi;
	text-align: center;
}

#equals {
	font-family: helvetica, sans-serif;
	font-weight: normal;
}

.nav_button {
	display: inline-block;
	width: 10%;
	height: 100%;
}

input {
	margin-bottom: 10px;
	box-shadow: 5px 5px 20px black;
	color: black;
}

#submit {
	margin-top: 15px;
	background: #242424;
	padding: 12px;
	color: white;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #ffa07a;
}

#show_page_stats {
	text-align: center;
	margin-bottom: 30px;
}

#show_page_stats #base_results {
	display: none;
}

.additional_info {
	display: none;
	max-width: 400px;
	border: 1px solid white;
	border-radius: 10px;
	margin: 15px auto 30px auto;
}

@media (max-width: 45em) {
    /* MOBILE AND TABLET STYLING GOES HERE */
	  #contents {
			width: 95%;
			text-align: center;
			margin: 0 2.5%;
		}
}

@media (max-width: 420px) {
	/* SMALLER H1 SIZE FOR SMALLER MOBILE SCREENS */
		h1 {
			font-size: 2.9em;
		}

		h2 {
			font-size: 1.2em;
		}
}

@media (max-width: 995px) {
	.nav_button img {
		width: 9.9%;
		height: auto;
	}
}

#make_your_own {
	display: inline-block;
	background: #242424;
	margin-top: 15px;
	background: #242424;
	padding: 3px 12px;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
}

#my_stat_link {
	display: inline-block;
	background: #242424;
	margin-top: 15px;
	background: #242424;
	padding: 3px 12px;
	border: 1px solid white;
	border-radius: 5px;
}

#my_stat_link a {
	color: white;
	text-decoration: none;
}

.find_out_more {
	display: inline-block;
	width: 150px;
	background: #242424;
	margin-top: 15px;
	margin-bottom: 25px;
	background: #242424;
	padding: 12px 12px;
	border: 1px solid white;
	border-radius: 5px;
}

@media (max-width: 300px) {
	/* EVEN SMALLER H1 SIZE FOR EVEN SMALLER MOBILE SCREENS */
		h1 {
			font-size: 2.2em;
		}

		h2 {
			font-size: 1em;
		}
}

@media (min-width: 45em) {
    /* DESKTOP STYLING GOES HERE */

    #contents {
			width: 79%;
			text-align: center;
			margin: auto;
		}

		.nav_button img {
			position: fixed;
			top: 40%;
			height: 100px;
			margin: 0;
			padding: 0;
		}

		#right_button img{
			right: 1px;
		}

		#contents_wrapper {
			display: block;
			overflow: auto;
			margin: auto;
		}
}
