<h3>Comparisons of Elements in Your Body to Celestial Objects:</h3>

<div id="hPercentageMilkyWay">
  Comparison of your Hydrogen Composition to the Milky Way:
  <p></p>
</div>

<div id="hPercentageSolarSystem">
  Comparison of your Hydrogen Composition to the Solar System:
  <p></p>
</div>

<div id="cTimesMilkyWay">
  Comparison of your Carbon Composition to the Milky Way:
  <p></p>
</div>

<div id="cTimesSolarSystem">
  Comparison of your Carbon Composition to the Solar System:
  <p></p>
</div>

<div id="nTimesMilkyWay">
  Comparison of your Nitrogen Composition to the Milky Way:
  <p></p>
</div>

<div id="nTimesSolarSystem">
  Comparison of your Nitrogen Composition to the Solar System:
  <p></p>
</div>

<div id="oTimesMilkyWay">
  Comparison of your Oxygen Composition to the Milky Way:
  <p></p>
</div>

<div id="oTimesSolarSystem">
  Comparison of your Oxygen Composition to the Solar System:
  <p></p>
</div>

<div id="oTimesEarth">
  Comparison of your Oxygen Composition to the Earth:
  <p></p>
</div>

<div id="mgPercentageEarth">
  Comparison of your Magnesium Composition to the Earth:
  <p></p>
</div>

<div id="sPercentageEarth">
  Comparison of your Silcon Composition to the Earth:
  <p></p>
</div>

<div id="caPercentageEarth">
  Comparison of your Calcium Composition to the Milky Way:
  <p></p>
</div>

<div id="fePercentageMilkyWay">
  Comparison of your Calcium Composition to the Milky Way:
  <p></p>
</div>

<div id="fePercentageEarth">
  Comparison of your Calcium Composition to the Milky Way:
  <p></p>
</div>

<%= javascript_include_tag "body_composition" %>