<h3>Comparisons of Elements in Your Body to Celestial Objects:</h3>

  <div class="find_out_more">
    Find out more!
  </div>
  <div class="additional_info">
    <p>Everything in the universe can be broken down into particles known as elements. Each one of these elements has its own unique set of characteristics that distinguishes it from others. Elements combine to make the building blocks of everything in the Universe. For example, the element oxygen is present in humans, the Earth, the Milky Way, and our Solar System. In us humans, oxygen comprises around 65% of our elemental breakdown, on Earth: 30%, in the Milky Way: 1%, and in the Solar System: 0.6%.</p>
  </div>

<div id="hPercentMilkyWay">
  Comparison of your Hydrogen Composition to the Milky Way:
  <p></p>
</div>

<div id="hPercentSolarSystem">
  Comparison of your Hydrogen Composition to the Solar System:
  <p></p>
</div>

<div id="cTimesMilkyWay">
  Comparison of your Carbon Composition to the Milky Way:
  <p></p>
</div>

<div id="cTimesSolarSystem">
  Comparison of your Carbon Composition to the Solar System:
  <p></p>
</div>

<div id="nTimesMilkyWay">
  Comparison of your Nitrogen Composition to the Milky Way:
  <p></p>
</div>

<div id="nTimesSolarSystem">
  Comparison of your Nitrogen Composition to the Solar System:
  <p></p>
</div>

<div id="oTimesMilkyWay">
  Comparison of your Oxygen Composition to the Milky Way:
  <p></p>
</div>

<div id="oTimesSolarSystem">
  Comparison of your Oxygen Composition to the Solar System:
  <p></p>
</div>

<div id="oTimesEarth">
  Comparison of your Oxygen Composition to the Earth:
  <p></p>
</div>

<div id="mgPercentEarth">
  Comparison of your Magnesium Composition to the Earth:
  <p></p>
</div>

<div id="sPercentEarth">
  Comparison of your Silicon Composition to the Earth:
  <p></p>
</div>

<div id="caPercentEarth">
  Comparison of your Calcium Composition to the Earth:
  <p></p>
</div>

<div id="fePercentMilkyWay">
  Comparison of your Iron Composition to the Milky Way:
  <p></p>
</div>

<div id="fePercentEarth">
  Comparison of your Iron Composition to the Earth:
  <p></p>
</div>

<%= javascript_include_tag "body_composition" %>