<h3>Keep exploring the universe, Starchild!</h3>

<p>Here's a shareable page of all of your results:</p>

<div id="my_stat_link" class="button"><p><%= link_to "My Star Stats", controller: "stats", action: "show", id: @stats %></p></div>