<h3>Your Energy Due to Sun Orbiting the Galaxy</h3>

<div class="find_out_more button">
  Find out more!
</div>

<div class="additional_info">
  <p>Kinetic (cuh-ne-tik) energy is the energy an object has because of its motion. The heavier an object is and the faster it moves, the more kinetic energy it has.<br><br>Although you think you’re sitting still right now, you are actually moving at very high speeds through the galaxy because earth rotates on its own axis as it travels around the sun, which in turn travels around the galaxy.<br><br>This means that you are actually flying through the galaxy at about 483,000 miles per hour!</p>
</div>

<div id="sunOrbitingGalaxy">
  <p></p>
</div>

<div id="joulesToGallonOfGasSunOrbiting">
  <p></p>
</div>

<div id="joulesToAABatterySunOrbiting">
  <p></p>
</div>

<div id="joulesToCandyBarSunOrbiting">
  <p></p>
</div>

<div id="joulesToKgOfCoalSunOrbiting">
  <p></p>
</div>

<div id="joulesToKgOfUraniumSunOrbiting">
  <p></p>
</div>

<div id="joulesToFoodCaloriesSunOrbiting">
  <p></p>
</div>

<div id="joulesToHiroshimaSunRotating">
  <p></p>
</div>

<div id="joulesToLighteningBoltSunOrbiting">
  <p></p>
</div>

<div id="joulesToSaturnVSunOrbiting">
  <p></p>
</div>

<div id="joulesToKgOfTNTSunOrbiting">
  <p></p>
</div>

<div id="joulesToHoppingFleaSunOrbiting">
  <p></p>
</div>

<br>