<h3>Your Energy Due to Earth Orbiting the Sun</h3>

<div id="earthOrbitingSun">
  <p></p>
</div>

<div id="joulesToGallonOfGasEarthOrbiting">
  <p></p>
</div>

<div id="joulesToAABatteryEarthOrbiting">
  <p></p>
</div>

<div id="joulesToCandyBarEarthOrbiting">
  <p></p>
</div>

<div id="joulesToKgOfCoalEarthOrbiting">
  <p></p>
</div>

<div id="joulesToKgOfUraniumEarthOrbiting">
  <p></p>
</div>

<div id="joulesToFoodCaloriesEarthOrbiting">
  <p></p>
</div>

<div id="joulesToHiroshimaEarthRotating">
  <p></p>
</div>

<div id="joulesToLighteningBoltEarthOrbiting">
  <p></p>
</div>

<div id="joulesToSaturnVEarthOrbiting">
  <p></p>
</div>

<div id="joulesToKgOfTNTEarthOrbiting">
  <p></p>
</div>

<div id="joulesToHoppingFleaEarthOrbiting">
  <p></p>
</div>

<br>