<h3>Your Energy Due to Sun Orbiting the Galaxy</h3>

<div id="sunOrbitingGalaxy">
  <p></p>
</div>

<div id="joulesToGallonOfGasSunOrbiting">
  <p></p>
</div>

<div id="joulesToAABatterySunOrbiting">
  <p></p>
</div>

<div id="joulesToCandyBarSunOrbiting">
  <p></p>
</div>

<div id="joulesToKgOfCoalSunOrbiting">
  <p></p>
</div>

<div id="joulesToKgOfUraniumSunOrbiting">
  <p></p>
</div>

<div id="joulesToFoodCaloriesSunOrbiting">
  <p></p>
</div>

<div id="joulesToHiroshimaSunRoating">
  <p></p>
</div>

<div id="joulesToLighteningBoltSunOrbiting">
  <p></p>
</div>

<div id="joulesToSturnVSunOrbiting">
  <p></p>
</div>

<div id="joulesToKgOfTNTSunOrbiting">
  <p></p>
</div>

<div id="joulesToHoppingFleeSunOrbiting">
  <p></p>
</div>

<br>