<h3>Your Energy Due to Earth Rotating</h3>

<div id="earthRotating">
  <p></p>
</div>

<div id="joulesToGallonOfGasEarthRotating">
  <p></p>
</div>

<div id="joulesToAABatteryEarthRotating">
  <p></p>
</div>

<div id="joulesToCandyBarEarthRotating">
  <p></p>
</div>

<div id="joulesToKgOfCoalEarthRotating">
  <p></p>
</div>

<div id="joulesToKgOfUraniumEarthRotating">
  <p></p>
</div>

<div id="joulesToFoodCaloriesEarthRotating">
  <p></p>
</div>

<div id="joulesToHiroshimaEarthRoating">
  <p></p>
</div>

<div id="joulesToLighteningBoltEarthRotating">
  <p></p>
</div>

<div id="joulesToSturnVEarthRotating">
  <p></p>
</div>

<div id="joulesToKgOfTNTEarthRotating">
  <p></p>
</div>

<div id="joulesToHoppingFleeEarthRotating">
  <p></p>
</div>

<%= javascript_include_tag "body_mass" %>
