<h3>Your Energy Due to Earth Rotating</h3>

<div id="earthRotating">
  <p></p>
</div>

<div id="joulesToGallonOfGasEarthRotating">
  <p></p>
</div>

<div id="joulesToAABatteryEarthRotating">
  <p></p>
</div>

<%= javascript_include_tag "body_mass" %>