<h3>Your Age Around the Solar System:</h3>

  <div class="find_out_more">
    Find out more!
  </div>
  <div class="additional_info">
    <p>Each planet takes a different amount of time to make its way around the sun. Since a year is defined as the time it takes for a planet to complete one orbit the sun, the length of a year is different on different planets.
<br><br>
How old are you on the other planets in our solar system?</p>

  </div>
  
<div id="mercuryAge">
  On Mercury:
  <p></p>
</div>

<div id="venusAge">
  On Venus:
  <p></p>
</div>

<div id="marsAge">
  On Mars:
  <p></p>
</div>

<div id="jupiterAge">
  On Jupiter:
  <p></p>
</div>

<div id="saturnAge">
  On Saturn:
  <p></p>
</div>

<div id="uranusAge">
  On Uranus:
  <p></p>
</div>

<div id="neptuneAge">
  On Neptune:
  <p></p>
</div>

<div id="plutoAge">
  On Pluto:
  <p></p>
</div>

<%= javascript_include_tag "age_other_planets" %>