<h3>Your Weight on Other Planets:</h3>

<div id="mercuryWeight">
  <p></p>
</div>

<div id="venusWeight">
  <p></p>
</div>

<div id="marsWeight">
  <p></p>
</div>

<div id="jupiterWeight">
  <p></p>
</div>

<div id="saturnWeight">
  <p></p>
</div>

<div id="uranusWeight">
  <p></p>
</div>

<div id="neptuneWeight">
  <p></p>
</div>


<div id="plutoWeight">
  <p></p>
</div>

<%= javascript_include_tag "planetary_weights" %>