<h3>Your Age Around the Solar System:</h3>
<div id="mercuryAge">
  On Mercury:
  <p></p>
</div>

<div id="venusAge">
  On Venus:
  <p></p>
</div>

<div id="marsAge">
  On Mars:
  <p></p>
</div>

<div id="jupiterAge">
  On Jupiter:
  <p></p>
</div>

<div id="saturnAge">
  On saturn:
  <p></p>
</div>

<div id="uranusAge">
  On uranus:
  <p></p>
</div>

<div id="neptuneAge">
  On neptune:
  <p></p>
</div>

<div id="plutoAge">
  On pluto:
  <p></p>
</div>

<%= javascript_include_tag "age_other_planets" %>