<h3>Your Weight on Other Planets:</h3>

	<div class="find_out_more">
		Find out more!
	</div>
	<div class="additional_info">
		<p>Your weight depends on the mass of your body and the mass of the planet you’re standing on. Your mass might stay the same as you travel from planet to planet, but more or less massive planets will pull on you with stronger or weaker gravity, and your weight will change. 
<br><br>
How much do you way on the other planets in our solar system? </p>

	</div>

<div id="mercuryWeight">
  <p></p>
</div>

<div id="venusWeight">
  <p></p>
</div>

<div id="marsWeight">
  <p></p>
</div>

<div id="jupiterWeight">
  <p></p>
</div>

<div id="saturnWeight">
  <p></p>
</div>

<div id="uranusWeight">
  <p></p>
</div>

<div id="neptuneWeight">
  <p></p>
</div>


<div id="plutoWeight">
  <p></p>
</div>

<%= javascript_include_tag "planetary_weights" %>