<h3>Stars Who Could See You:</h3>

	<div class="find_out_more">
		Find out more!
	</div>
	<div class="additional_info">
	<p>	Did you know that when you look into the night sky, you are really looking into the past? The starlight you see has traveled many years to reach the earth, so you are actually seeing those stars as they were when their light left them.  The light from the Earth, in turn, travels for many years to reach those stars. 
<br><br>
The amount of space light can travel in a year is called a light year. If you are 10 years old, only the solar systems within 10 light years of Earth can see you. Star systems further than that are looking up at the Earth as it was before you were born. How many stars can see you depends on your age. </p>
	</div>

<div id="lifeStarRange">
  <p></p>
</div>

<%= javascript_include_tag "light_years" %>