<h1>STARCHILD</h1>
<h3>Your body is a part of a vast and exciting universe.  Here are some statistics about your relationship to that universe based off of the information you gave us!</h3>

<div id="show_page_stats">
	<%= render partial: 'all_stats' %>
	<h3>Want in on the action?</h3>
	<a href="/"><div id="make_your_own" class="button"><p>Generate your own star stats!</p></div></a>
</div>